@charset "utf-8";

// Importo la fuente de Open Sans
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

// Colores de la marca.
$rojo_amaranth: #d90429;
$rojo_imperial: #ef233c;
$azul_alice: #edf2f4;
$gris_manatee: #8d99ae;
$negro_space: #2b2d42;


// Cambio las variables globales de Bulma para que se adapten a mi diseño

//fuente
$family-sans-serif: "Open Sans", sans-serif;

//estilos basados en los colores definidos arriba
$grey-dark: $negro_space;
$grey-light: $gris_manatee;
$primary: $rojo_amaranth;
$dark: $negro_space;
$light: $gris_manatee;
$link: $negro_space;
$danger: $rojo_imperial;

// Aca organizo los cambios a cualquier variable de los componentes de Bulma
$body-background-color: $azul_alice;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$footer-background-color: $negro_space;
$card-background-color: linear-gradient(0deg, rgba(239,35,60,1) 0%, rgba(43,45,66,1) 100%);
$card-color: $azul_alice;

//Carousel
* {
  box-sizing: border-box;
}

/* Posición para el container del carousel */
.container {
  position: relative;
}

/* Esconder las imagenes al cargar */
.mySlides {
  display: none;
}

/* Cambiar puntero */
.cursor {
  cursor: pointer;
}

/* Botones atras/adelante */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Boton adelante a la derecha */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Efecto al pasarle el mouse */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Numeros arriba */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container para el texto */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

/* Miniaturas con transparencia */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* Estilo para el login */
.login-hr{
  border-bottom: 1px solid black;
}

.avatar {
  margin-top: -70px;
  padding-bottom: 20px;
}
.avatar img {
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}

/* Estilo para el mapa */
.mapa
{
  /* position:absolute; left: 0; right: 0; bottom: 0; top: 0px;  */
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 999999;
    height: 100%;
}


// Import de módulos individuales de Bulma, para evitar importar todo y mejorar el rendimiento
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";

// Import de extensiones extra
@import "../node_modules/@creativebulma/bulma-badge/src/sass/index.sass";
@import "../node_modules/bulma-pricingtable/src/sass/index.sass";