@charset "utf-8";

// Importo la fuente de Open Sans
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

// Colores de la marca
$rojo_amaranth: #d90429;
$rojo_imperial: #ef233c;
$azul_alice: #edf2f4;
$gris_manatee: #8d99ae;
$negro_space: #2b2d42;


// Cambio las variables globales de Bulma para que se adapten a mi diseño
$family-sans-serif: "Open Sans", sans-serif;
$grey-dark: $negro_space;
$grey-light: $gris_manatee;
$primary: $rojo_amaranth;
$link: $negro_space;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $azul_alice;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";