@charset "utf-8";

// Importo la fuente de Open Sans
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

// Colores de la marca.
$rojo_amaranth: #d90429;
$rojo_imperial: #ef233c;
$azul_alice: #edf2f4;
$gris_manatee: #8d99ae;
$negro_space: #2b2d42;


// Cambio las variables globales de Bulma para que se adapten a mi diseño

//fuente
$family-sans-serif: "Open Sans", sans-serif;

//estilos basados en los colores definidos arriba
$grey-dark: $negro_space;
$grey-light: $gris_manatee;
$primary: $rojo_amaranth;
$dark: $negro_space;
$light: $gris_manatee;
$link: $negro_space;

// Aca organizo los cambios a cualquier variable de los componentes de Bulma
$body-background-color: $azul_alice;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$footer-background-color: $negro_space;


// Import de módulos individuales de Bulma, para evitar importar todo y mejorar el rendimiento
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/layout/footer.sass";
@import "../node_modules/bulma/sass/grid/columns.sass"